{% extends 'base.html' %}

{% block title %}{{ _('Home') }}{% endblock %}

{% block content %}

<!------------------>
<section id="home">
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="/static/index/1.jpg" class="img1" /></div>
            <div class="swiper-slide"><img src="/static/index/2.jpg" class="img2"/></div>
            <div class="swiper-slide"><img src="/static/index/3.jpg" class="img3"/></div>
            <div class="swiper-slide"><img src="/static/index/4.jpg" class="img4"/></div>
            <div class="swiper-slide"><img src="/static/index/5.jpg" class="img5"/></div>
            <div class="swiper-slide"><img src="/static/index/6.jpg" class="img6"/></div>
            <div class="swiper-slide"><img src="/static/index/7.jpg" class="img7"/></div>
            <div class="swiper-slide"><img src="/static/index/8.jpg" class="img8"/></div>
            <div class="swiper-slide"><img src="/static/index/9.jpg" class="img9"/></div>
            <div class="swiper-slide"><img src="/static/index/10.jpg" class="img10"/></div>
            <div class="swiper-slide"><img src="/static/index/11.jpg" class="img11"/></div>
            <div class="swiper-slide"><img src="/static/index/12.jpg" class="img12"/></div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>

<!------------------>
{% endblock %}
